<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🚀</text></svg>">
    <meta charset="UTF-8">
    <title>убило</title>
    <style>
        .blue-text {
            font-family: Arial;
            color: blue;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div container mt = 5>
      <div>
          <p class="blue-text">
              сайт магазина электроных сигарет по оптовым ценам как Чижик
          </p>
      </div>
      <h2>
        снизу присутсувует раздел 'комментарии'
        можете написать просьбы о завозе каких либо продуктов
      </h2>
      <a href="http://127.0.0.1:5000/регистрация" class="button">
        <button type="button" class="btn btn-warning">Регистрация</button>
      </a>
    </div>
</body>
</html>